@import "tailwindcss";
@plugin "daisyui";

body{
  background: #000000;
  color: white;
}

/* custom gradient button */

.gradient-btn{
  background: linear-gradient(to right, #7e22ce, #2563eb);
  border: none;
  color: white;
  border-radius: 999px;
  transition: 0.3s ease;
}

.gradient-btn:hover{
  transform: scale(1.03);
  opacity: 0.9;
}

.glass-card{
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
}